@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a, a * {
  color: black;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  
  position: absolute;
  
  background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
  background-size: 600% 100%;
  
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  
  z-index: -1;
}

.card {
  width: 60%;
  height: 80vh;
  
  position: absolute;
  
  left: 50%;
  top: 50%;
  
  transform: translate(-50%, -50%);
  
  background: #fff;
  border-radius: 20px;
  
  box-shadow: 0 0 20px rgba(0,0,0,30%);
  
  text-align: center;
  z-index: -1;
}

.card h2 + h1, .card h2 {
  margin-top: 20px;
}

.search-wrapper {
  margin-top: 40px;
  margin-left: 50%;
  
  transform: translateX(-50%);
  
  width: 90%;
  border-bottom: 1px solid black;
  
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  
  padding-bottom: 5px;
}

#search-box {
  border: none;
  outline: none;
  
  width: 95%;
  border-radius: 10px;
  
  padding: 5px;
  transition: background 0.3s;
}

#search-box:hover {
  background: #efefef;
}

.favorites {
  width: 90%;
  height: 60%;
  
  background: #efefef;
  
  border-radius: 10px;
  padding: 10px;
  
  margin-left: 50%;
  margin-top: 20px;
  
  transform: translateX(-50%);
}

.fav {
  width: 100px;
  height: 100px;
  
  display: inline-block;
  margin-right: 10px;
  
  background: #dedede;
  
  border-radius: 10px;
}

.fav img {
  width: 40px;
  
  margin-top: 10px;
}

#settings {
  position: absolute;
  
  left: 20px;
  top: 20px;
}

#settings-menu {
  width: 70%;
  height: 70vh;
  
  position: absolute;
  left: 50%;
  top: -70vh;
  
  transform: translateX(-50%);
  
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 20px rgba(0,0,0,30%);
  
  background: white;
  z-index: 100;
  
  transition: top 0.5s;
}

#close {
  position: absolute;
  
  top: 10px;
  right: 10px;
}

.set-active {
  top: 0 !important;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}